:root {
    --base00: #181818; /* Default Background */
    --base01: #282828; /* Lighter Background (Used for status bars) */
    --base02: #383838; /* Selection Background */
    --base03: #585858; /* Comments, Invisibles, Line Highlighting */
    --base04: #B8B8B8; /* Dark Foreground (Used for status bars) */
    --base05: #D8D8D8; /* Default Foreground, Caret, Delimiters, Operators */
    --base06: #E8E8E8; /* Light Foreground (Not often used) */
    --base07: #F8F8F8; /* Light Background (Not often used) */
    --base08: #AB4642; /* "Red": Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
    --base09: #DC9656; /* "Orange": Integers, Boolean, Constants, XML Attributes, Markup Link Url */
    --base0A: #F7CA88; /* "Yellow": Classes, Markup Bold, Search Text Background */
    --base0B: #A1B56C; /* "Green": Strings, Inherited Class, Markup Code, Diff Inserted */
    --base0C: #86C1B9; /* "Cyan": Support, Regular Expressions, Escape Characters, Markup Quotes */
    --base0D: #7CAFC2; /* "Blue": Functions, Methods, Attribute IDs, Headings */
    --base0E: #BA8BAF; /* "Magenta": Keywords, Storage, Selector, Markup Italic, Diff Changed */
    --base0F: #A16946; /* "Brown": Deprecated, Opening/Closing Embedded Language Tags e.g. <?php ?> */
}
body {
    background-color: var(--base00);
    color: var(--base05);
}
tr.bufferline {
    line-height: 1.4;
/* Weechat colors and style */
/****************************/
/* style options, foreground */
.cof-separator {
    color: var(--base05);
}
.cof-chat {
    color: var(--base05);
}

.cof-chat_time,
.cof-chat_time_delimiters {
    color: var(--base05);
}
.repeated-time .cob-chat_time,
.repeated-time .cob-chat_time_delimiters {
    color: var(--base04);
}
.cof-chat_prefix_error {
    color: var(--base0A);
}
.cof-chat_prefix_network {
    color: var(--base0E);
}
.cof-chat_prefix_action {
    color: var(--base06);
}
.cof-chat_prefix_join {
    color: var(--base0B);
}
.cof-chat_prefix_quit {
    color: var(--base08);
}
.cof-chat_prefix_more {
    color: var(--base0E);
}
.cof-chat_prefix_suffix {
    color: var(--base0B);
}
.cof-chat_buffer {
    color: var(--base06);
}
.cof-chat_server {
    color: var(--base0F);
}
.cof-chat_channel {
    color: var(--base06);
}
.cof-chat_nick {
    color: var(--base0C);
}
.cof-chat_nick_self {
    color: var(--base07);
}
.cof-chat_nick_other {
    color: var(--base0C);
}
.cof-invalid {
    /* should never happen */
    color: green !important;
    background-color: red !important;
}
.cof-chat_host {
    color: var(--base0C);
}
.cof-chat_delimiters {
    color: var(--base05);
}
.cof-chat_highlight {
    color: var(--base03);
}
.cof-chat_read_marker {
    color: var(--base05);
}
.cof-chat_text_found {
    color: var(--base0A);
}
.cof-chat_value {
    color: var(--base0C);
}
.cof-chat_prefix_buffer {
    color: var(--base0F);
}
.cof-chat_tags {
    color: var(--base08);
}
.cof-chat_inactive_window {
    color: var(--base05);
}
.cof-chat_inactive_buffer {
    color: var(--base05);
}
.cof-chat_prefix_buffer_inactive_buffer {
    color: var(--base05);
}
.cof-chat_nick_offline {
    color: var(--base05);
}
.cof-chat_nick_offline_highlight {
    color: var(--base05);
}
.cof-chat_nick_prefix {
    color: var(--base0B);
}
.cof-chat_nick_suffix {
    color: var(--base0B);
}
.cof-emphasis {
    color: var(--base07);
}
.cof-chat_day_change {
    color: var(--base0C);
}
.cof-chat_value_null {
}
.cof-chat_status_disabled {
}
.cof-chat_status_enabled {
}

/* style options, background */
.cob-separator {
}
.cob-chat {
}
.cob-chat_time {
}
.cob-chat_time_delimiters {
}
.cob-chat_prefix_error {
}
.cob-chat_prefix_network {
}
.cob-chat_prefix_action {
}
.cob-chat_prefix_join {
}
.cob-chat_prefix_quit {
}
.cob-chat_prefix_more {
}
.cob-chat_prefix_suffix {
}
.cob-chat_buffer {
}
.cob-chat_server {
}
.cob-chat_channel {
}
.cob-chat_nick {
}
.cob-chat_nick_self {
}
.cob-chat_nick_other {
}
.cob-invalid {
}
.cob-chat_host {
}
.cob-chat_delimiters {
}
.cob-chat_highlight {
    background-color: var(--base07);
}
.cob-chat_read_marker {
}
.cob-chat_text_found {
}
.cob-chat_value {
}
.cob-chat_prefix_buffer {
}
.cob-chat_tags {
}
.cob-chat_inactive_window {
}
.cob-chat_inactive_buffer {
}
.cob-chat_prefix_buffer_inactive_buffer {
}
.cob-chat_nick_offline {
}
.cob-chat_nick_offline_highlight {
    background-color: var(--base02);
}
.cob-chat_nick_prefix {
}
.cob-chat_nick_suffix {
}
.cob-emphasis {
    background-color: var(--base03);
}
.cob-chat_day_change {
}
.cob-chat_value_null {
}
.cob-chat_status_disabled {
}
.cob-chat_status_enabled {
}

/* style options, attributes */
.coa-separator {
}
.coa-chat {
}
.coa-chat_time {
}
.coa-chat_time_delimiters {
}
.coa-chat_prefix_error {
}
.coa-chat_prefix_network {
}
.coa-chat_prefix_action {
}
.coa-chat_prefix_join {
}
.coa-chat_prefix_quit {
}
.coa-chat_prefix_more {
}
.coa-chat_prefix_suffix {
}
.coa-chat_buffer {
}
.coa-chat_server {
}
.coa-chat_channel {
}
.coa-chat_nick {
}
.coa-chat_nick_self {
    font-weight: bold;
}
.coa-chat_nick_other {
}
.coa-invalid {
}
.coa-chat_host {
}
.coa-chat_delimiters {
}
.coa-chat_highlight {
}
.coa-chat_read_marker {
}
.coa-chat_text_found {
}
.coa-chat_value {
}
.coa-chat_prefix_buffer {
}
.coa-chat_tags {
}
.coa-chat_inactive_window {
}
.coa-chat_inactive_buffer {
}
.coa-chat_prefix_buffer_inactive_buffer {
}
.coa-chat_nick_offline {
}
.coa-chat_nick_offline_highlight {
}
.coa-chat_nick_prefix {
}
.coa-chat_nick_suffix {
}
.coa-emphasis {
}
.coa-chat_day_change {
}
.coa-chat_value_null {
}
.coa-chat_status_disabled {
}
.coa-chat_status_enabled {
}

/* WeeChat colors, foreground */
.cwf-default {
    color: var(--base05);
}
.cwf-black {
    color: var(--base00);
}
.cwf-darkgray {
    color: var(--base02);
}
.cwf-red {
    color: var(--base08);
}
.cwf-lightred {
    color: var(--base08);
}
.cwf-green {
    color: var(--base0B);
}
.cwf-lightgreen {
    color: var(--base0B);
}
.cwf-brown {
    color: var(--base0A);
}
.cwf-yellow {
    color: var(--base0A);
}
.cwf-blue {
    color: var(--base0D);
}
.cwf-lightblue {
    color: var(--base0D);
}
.cwf-magenta {
    color: var(--base0E);
}
.cwf-lightmagenta {
    color: var(--base0E);
}
.cwf-cyan {
    color: var(--base0C);
}
.cwf-lightcyan {
    color: var(--base0C);
}
.cwf-gray {
    color: var(--base04);
}
.cwf-white {
    color: var(--base07);
}

/* WeeChat colors, background */
.cwb-default {
    background-color: transparent;
}
.cwb-black {
    background-color: var(--base00);
}
.cwb-darkgray {
    background-color: var(--base02);
}
.cwb-red {
    background-color: var(--base08);
}
.cwb-lightred {
    background-color: var(--base08);
}
.cwb-green {
    background-color: var(--base0B);
}
.cwb-lightgreen {
    background-color: var(--base0B);
}
.cwb-brown {
    background-color: var(--base0A);
}
.cwb-yellow {
    background-color: var(--base0A);
}
.cwb-blue {
    background-color: var(--base0D);
}
.cwb-lightblue {
    background-color: var(--base0D);
}
.cwb-magenta {
    background-color: var(--base0E);
}
.cwb-lightmagenta {
    background-color: var(--base0E);
}
.cwb-cyan {
    background-color: var(--base0C);
}
.cwb-lightcyan {
    background-color: var(--base0C);
}
.cwb-gray {
    background-color: var(--base04);
}
.cwb-white {
    background-color: var(--base07);
}

/* attributes overrides */
.a-b {
    font-weight: bold;
}
.a-no-b {
    font-weight: normal;
}
.a-i {
    font-style: italic;
}
.a-no-i {
    font-style: normal;
}
.a-u {
    text-decoration: underline;
}
.a-no-u {
    text-decoration: none;
}
.a-r {
}
.a-no-r {
}
.a-k {
}
.a-no-k {
}
.a-d {
}
.a-no-d {
}
.a-reset {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
/* highlight messages */
.bufferline .prefix .highlight {
    color: var(--base03) !important;
    background-color: var(--base07) !important;
    font-weight: bold !important;
}
    .cof-chat_time,
    .cof-chat_time_delimiters,
    .repeated-time .cob-chat_time,
    .repeated-time .cob-chat_time_delimiters {
        color: var(--base04);
    }
