@import "dark.css";

body {
    background-color: #1d222c;
    color: #dfdfcf;
}

a {
   color: #0787c1;
}

tr.bufferline:hover {
    background-color: #1b2737;
}
td.prefix {
    border-right: 1px solid #464f5e;
}
td.message {
   border-left: 1px solid #1b2737;
}

#readmarker {
   border-color: rgba(29, 94, 152, 0.5);
   height: 0;
}
